/* Dynamic List Manager */
#textInput,
#button {
  padding: 5px;
}

/*  Filter Table Rows */
table {
  width: 80%;
}
th,
td {
  border: 1px solid #ebd3d3;
  padding: 6px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}
#searchbar {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  font-size: 16px;
}

/*  Image Carousel */

.carousel-container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.carousel-images {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}
.carousel-images img {
 height: 70vh;
  display: none;
}
.carousel-images img.active {
  display: block;
}
.carousel-buttons {
  margin-top: 10px;
}
#prevButton,#nextButton {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Theme Switcher */
/* Light Theme */
body.light {
  background-color: white;
  color: black;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: white;
}

/* Button styling */
#theme-toggle {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}